@media (width < 76.8rem) {
  .wrapper {
    width: 95vw;
    display: flex;
    flex-direction: column;
  }
  form {
    width: 95vw;
    justify-content: unset !important;
  }
  .wrapper button {
    width: 22vw;
    font-size: 1.1rem;
  }
  .wrapper input {
    width: 59vw;
    font-size: 1rem;
  }
  .wrapper .placeholder {
    left: 1.3rem;
  }
  .wrapper input:valid ~ span,
  .wrapper input:focus ~ span {
    transform: translateX(3vw) translateY(-5.7vw);
    font-size: 0.8rem;
    background-color: white;
  }
}

@media (500px <= width <= 768px) {
  .wrapper button {
    width: 27vw;
    font-size: 1.7rem;
  }
}
