@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: #6e07f3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  font-family: "Lexend", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  width: 55vw;
  padding: 20px;
  /* height: 400px; */
  background-color: #fff;
  border-radius: 8px;
}
.wrapper header {
  display: flex;
  justify-content: center;
  gap: 15px;
  position: relative;
  height: fit-content;
}
.wrapper input {
  outline: none;
  border: 2px solid blueviolet;
  width: 40vw;
  height: 45px;
  border-radius: 5px;
  padding: 0 10px;
  font: inherit;
  font-size: 1.1rem;
}
.wrapper button {
  width: 10vw;
  height: 45px;
  background-color: blueviolet;
  color: white;
  font: inherit;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.1s;
}
.wrapper .placeholder {
  position: absolute;
  align-self: center;
  left: 20px;
  color: rgb(58, 56, 56);
  font-size: 1rem;
  pointer-events: none;
  transition: 0.4s;
}
.wrapper input:valid ~ span,
.wrapper input:focus ~ span {
  transform: translateX(1.5vw) translateY(-1.6vw);
  font-size: 0.9rem;
  background-color: white;
}
.gap{
  margin-top: 20px;
}
.title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.volume {
  border: 1px solid #606060;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}
.main-word {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.pos{
  font-size: 1.2rem;
  text-transform: capitalize;
  margin-top: 15px;
}

.example ul{
  list-style: none;
}